/* RESET CSS */
/*html, body{overflow-x:hidden;}*/
body, img, p, h1, h2, h3, h4, h5, h6, ul, ol, li { margin:0; padding:0; list-style:none; outline:none; border:none; font-weight:normal;}

/* BODY */

body{
	font-family: 'PT Serif', serif;
	font-size:15px;
	background:url(../imgs/background.jpg) repeat-x left top #dbe1e9;
}

.bg-interna{background:url(../imgs/background-interna.jpg) repeat-x left top #dbe1e9;}

div{ overflow:hidden;}

*:focus { outline: none; }

/* TAGS */

a{
	font-family: 'PT Serif', serif;
	font-size:14px;
	color:#2a3695;
	text-decoration:none;	
}
a:link{
	text-decoration:none;	
}
a:hover{
	text-decoration:underline;
	transition: all .25s ease-in-out;
   -moz-transition: all .25s ease-in-out;
   -webkit-transition: all .25s ease-in-out;
}

ul ol{
	list-style:none;
}

h1{
	font-size:30px;
	color:#fff;
	font-family: 'Oswald','PT Serif', sans-serif;
	
}
h2{
	color:#2a3695;
	display:block;
	font-family: 'Oswald','PT Serif', sans-serif;
}
h3{
	color:#2a3695;
	display:block;
	font-size:18px;
}

h4{
	color:#2a3695;
	display:block;
	font-size:12px;
	font-family: 'PT Serif', serif;
}
h5{font-family: 'PT Serif', serif;}
p{
	font-family: 'PT Serif', serif;
	font-size:14px;
	color:#212121 ;
}

#corpo{width:1100px; height:auto; margin:auto; overflow:hidden;}
	#topo{width:997px; height:150px; margin:10px auto 0 auto; background:url(../imgs/background-topo_2.png) center top no-repeat; position:relative; z-index:1;}
		#logo{margin:20px 0 0 50px; height:100px; width:318px; float:left; }
			#logo span{float:right; text-align:right; color:#2a3695; font-family: 'Oswald','PT Serif', sans-serif; font-size:13px;}
		#orcamento-topo{float:right; margin:18px 40px 0 0; width:539px; height:48px;}
		#menu{float:right; margin:0 17px 0 0; width:569px; height:62px;}
		
	#banner{width:1100px; height:500px; position:relative; z-index:0; top:-84px; background:url(../imgs/bg_banner.jpg) -4px top no-repeat; overflow:hidden;}
		#texto-banner{float:left; height:355px; width:515px; margin:45px 0 0 0; background:url(../imgs/texto-banner.png) right bottom no-repeat; position:relative;}
		#slider-content{float:left; height:370px; width:450px; margin:90px 0 0 -10px; background:url(../imgs/background-slider.png) left top no-repeat; position:relative; z-index:8; overflow:visible;}
			
	#banner-interna{width:1100px; height:192px; position:relative; z-index:0; top:-84px; background:url(../imgs/background-banner-interna.jpg) no-repeat top left;}
	
		#coluna1-contato{float:left; width:450px; margin-right:20px;}
		#coluna2-contato{float:left; width:480px;}
			#coluna2-contato ul{margin:25px 0 20px 0;}
			#coluna2-contato ul li{display:block; overflow:hidden;}
			#coluna2-contato h4, a{font-size:16px;}
			
	
	#lista-portfolio{overflow:hidden;}
		#lista-portfolio li{float:left; overflow:hidden; margin:0 0 40px 0;}
		#lista-portfolio li .thumb-img{width:290px; height:210px;}
		#lista-portfolio li .thumb-img img{width:285px; height:204px;}
		#lista-portfolio li .thumb-img a{width:285px;}
		
		#lista-produtos{overflow:hidden;}
		#lista-produtos li{float:left; overflow:hidden; margin:20px 2px; width: 234px;}
		#lista-produtos li a{display:block; background:#c6c9dc; padding:5px; position:relative; overflow:hidden; width:176px; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px;}
		#lista-produtos li a:hover{background:#2a3695;}
		#lista-produtos li a:hover span{display:block;}
		#lista-produtos li a span{width:176px; background:url(../imgs/bt-thumb-portfolio_hover.png) center bottom no-repeat; display:none; height:26px; position:absolute; bottom:10px; }
		#lista-produtos li img{width:176px; height:125px;}
		#lista-produtos li h2{font-size:15px;}
		#conteiner-interna #lista-produtos img{margin:0 15px 0 0; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px;}
		
		.link_dicas{color:#2a3695; font-weight:bold; font-size:25px;}
	
	
	/*Corpo da pagina com as informacoes abaixo do banner*/
	#conteiner{margin:-100px auto 0 auto; width:955px; height:auto; overflow:hidden; }
	
		#conteiner-interna{margin:-60px auto 0 auto; width:955px; height:auto; overflow:hidden; }
				#conteiner-interna img{float:left; margin:0 15px 15px 0;}
				#conteiner-interna h2{margin-top:20px;}
				#conteiner-interna p{font-style:italic;}
	
		#fornecedores-home{ width:100%; height:auto; overflow:hidden; margin:30px 0 0 0;}
	
	/*Rodape*/
	#rodape{width:966px; height:auto; overflow:hidden; margin:20px auto; background:url(../imgs/divisoria-rodape.png) left top no-repeat; padding-top:17px;}
		#coluna1-rodape{float:left; width:365px; height:150px;}
		#coluna2-rodape{float:left; width:205px; height:150px; background:url(../imgs/sombra-rodape.png) left 50% no-repeat; text-align:center;}
		#coluna3-rodape{float:left; width:396px; height:150px; background:url(../imgs/sombra-rodape.png) left 50% no-repeat}
	
#orcamento-topo ul{float:right; margin:7px 50px 0 0;}
	#orcamento-topo ul li{float:left; margin-left:15px;}
	
#menu ul{display:block; width:565px; border-bottom:solid 3px #2b3695; overflow:hidden;}
#menu ul li{float:left; max-width:90px; min-width:80px; text-align:center;  height:59px;}

/*Link para os portfolios*/
#texto-banner a{
	display:block;
	position:absolute;
	z-index:2;
	left: 2px;
	top: 267px;
	width:329px;
	height:36px;
	background:url(../imgs/btn-conheca-nosso-portfolio.png) left top no-repeat ;
}
#texto-banner a:hover{background-position:left bottom; color:#FFF; text-decoration:none;}
#texto-banner a span{font-family: 'Oswald'; line-height:30px; text-align:center; margin-left:20px;}


#fornecedores-home h1{color:#2b3695;}
#fornecedores-home p{font-style:italic;}

#fornecedores-home .link-conheca{float:left;}

#coluna1-rodape img{padding:20px 0 0 20px;}

#coluna2-rodape ul{margin-top:20px;}
#coluna2-rodape h3{display:inline; font-style:italic;}
#coluna2-rodape span{font-weight:bold; color:#2b3695; font-size:12px;}

#coluna3-rodape ul{margin-top:20px; margin-left:20px;}
#coluna3-rodape ul li{margin:5px; display:block; height:31px;}
#coluna3-rodape h4{float:left;}
#coluna3-rodape img{float:left; margin-right:5px;}

.clear{clear:both;}

.link-menu{display:block; font-family:Oswald; font-size:15px; padding:18px 3px 16px 3px; }
	.link-menu:hover{text-decoration:none; border-bottom:solid 5px #2b3695;}
.link-menu-selected{display:block; font-family:Oswald; font-size:15px; padding:18px 3px 16px 3px; border-bottom:solid 5px #2b3695; }	
.link-menu-selected:hover{text-decoration:none;}

.link-conheca{background:url(../imgs/btn-link-grande.png) no-repeat left top; width:284px; height:36px; float:right; margin:10px 0; }
	.link-conheca:hover{background-position:bottom left; color:#fff; text-decoration:none;}
		.link-conheca span{font-family: 'Oswald'; line-height:30px; text-align:center; margin-left:20px;}
	
.content-banner{margin:auto; width:960px;}
	
	/*box com as informações da empresa na home*/
	#a-empresa-home{float:left; width:641px; height:266px; background:url(../imgs/background-empresa-home.png) no-repeat top left; }
			#a-empresa-home img{float:left; margin:15px 10px; width:300px;}
		.texto-empresa-home{float:right; width:310px; height:220px; padding:0 5px 0 0;}
			.texto-empresa-home p{color:#FFFFFF; line-height:15px; font-style:italic;}
			.texto-empresa-home p a{color:#FFFFFF; font-style:italic; text-decoration:underline;}
			
	.item-direita{float:right; width:285px; height:auto; overflow:hidden;}		
		.item-direita p{font-style:italic;}
		.item-direita .link-conheca{float:left; background:url(../imgs/btn-link-pequeno.png) no-repeat left top;}
			.item-direita .link-conheca:hover{background-position:bottom left;}
			
	.imgs-fornecedores{ width:955px; overflow:hidden; height:auto; margin:20px 0 0 0; }
		.imgs-fornecedores li{float:left; margin:7px;}
		.imgs-fornecedores li img{border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px;}
		
	.assinatura{text-align:center; font-style:italic; margin:20px auto;}
		
		
/*internas*/
	.titulo-pagina{width:955px; margin:50px auto 0 auto;}
	.titulo-pagina h1{font-size:60px;}
	
	.onde-estou{background:url(../imgs/ico-onde-estou.png) left top no-repeat; height:32px; line-height:32px; padding-left:45px; position:absolute; bottom:0; left:70px;}
		.onde-estou span{color:#fff;}
		.onde-estou a{color:#fff; font-style:italic;}
		
		.thumb-img{width:262px; height:193px; float:left; background:#2b3795; padding:3px 5px 3px 3px; margin-right:20px; position:relative;}
		.thumb-img a{width:262px; height:193px; display:block; background:url(../imgs/bt-thumb-portfolio.png) center 150px no-repeat; position:absolute; z-index:100;}
		.thumb-img a:hover{background:url(../imgs/bt-thumb-portfolio_hover.png) center 150px no-repeat; }
		.thumb-img img{width:259px; height:187px; text-align:center; padding:3px;}
		
	/*Formulario de contato*/
	
	#form-contato{margin:20px 0 0 0;}
		#form-contato label{width:80px; display:inline-block; font-family: 'Oswald'; font-style:normal; font-size:15px; text-align:right; margin-right:10px;}
		#form-contato p+p{margin-top:10px;}
		
	.campo-formulario{border:solid 1px #27328B; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; height:30px; width:300px; padding:5px;}
	.campo-formulario-text{border:solid 1px #27328B; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; min-height:130px; width:300px; padding:5px;}
	
	.btn-form{background:url(../imgs/bt-enviar.png) left top no-repeat; width:94px; height:37px; font-size:0px; border:0; float:right; margin-right:45px;}
	.btn-form:active{position:relative; top:1px;}
	
	/*SLIDER*/
	#fotos{float:left; margin:0 20px 20px 0; background:#27328B;}
	
	#container-infos-galeria-grande{width:420px; height:320px; overflow:hidden; margin:10px auto 0px auto;}
	#container-infos-galeria-grande div{height:320px;}
	#container-infos-galeria-grande img{width:410px; margin-left:5px;}
	
	#lista-videos-imagens-interna-ul{width:420px; margin:0px 0px 0px 0px; position:relative; }
	
	#lista-videos-imagens-interna-ul-listagem{margin:10px 0px 0px 25px; width:375px; height:90px; overflow:hidden; position:relative;}
		#lista-videos-imagens-interna-ul-listagem ul{position:relative;}
		#lista-videos-imagens-interna-ul-listagem ul li{float:left; margin:0px 5px 0px 0px; width:89px; height:80px; overflow:hidden; display:inline;}
	
	#lista_btn_voltar{width:17px; height:35px; top:25px; left:0px; position:absolute; float:left; }
	#lista_btn_avancar{width:17px; height:35px; top:25px; right:0px; position:absolute; float:right;}
	
	
	
.texto_chamada_pagina{color:#27328B; text-align:center; font-size:16px; }

		