/*
	Slideshow
*/

#slides {
	position:absolute;
	top:0;
	left:10px;
	z-index:9999;
}

/*
	Slides container
	Important:
	Set the width of your slides container
	Set to display none, prevents content flash
*/

.slides_container {
	width:430px;
	overflow:hidden;
	position:relative;
	display:none;
	top:45px;
}

/*
	Each slide
	Important:
	Set the width of your slides
	If height not specified height will be set by the slide content
	Set to display block
*/

.slides_container div.slide {
	width:430px;
	height:360px;
	display:block;
}


/*
	Next/prev buttons
*/

#slides .next,#slides .prev {
	position:absolute;
	top:107px;
	left:-39px;
	width:24px;
	height:43px;
	display:block;
	z-index:101;
}

#slides .next {
	left:585px;
}

/*
	Pagination
*/

.pagination {
	position:absolute;
	top:10px;
	margin:0 auto 0;
	z-index:99999;
	right:0;
	overflow:visible;
	width:145px;
}

.pagination li {
	float:left;
	margin:0 1px;
	list-style:none;
}

.pagination li a {
	display:block;
	width:12px;
	height:0;
	padding-top:12px;
	background-image:url(../img/pagination.png);
	background-position:0 bottom;
	float:left;
	overflow:hidden;
	
}

.pagination li.current a {
	background-position:0 top;
}

/*
	Caption
*/

.caption {
	z-index:500;
	padding:10px;
	position:absolute;
	top:245px;
	left:0;
	height:50px;
	background:#000;
	background:rgba(14,24,102,.8);
	width:540px;
	font-size:1.3em;
	line-height:1.33;
	color:#fff;
	text-shadow:none;
}

.caption h2{color:#FFF; font-size:18px;}
.caption a{color:#fff; text-decoration:underline; font-size:14px;}