@charset "utf-8";
/* CSS Geral BASIC */

/* Nome das Fontes:
font-family: 'cabinregular';
font-family: 'cabinbold';
font-family: 'bebasregular';
font-family: 'pt_sansbold';
font-family: 'pt_sansregular';
font-family: 'yanone_kaffeesatzbold';
font-family: 'yanone_kaffeesatzregular';
*/

@import url('fonts.css');



/* Reset */
* {margin:0; padding:0; text-decoration:none;}
body, img, p, h1, h2, h3, h4, h5, h6, ul, ol, li, select, input {margin:0 auto; padding:0; list-style:none; outline:none; border:none;}
/* End Reset */



.top5 { margin-top:5px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top20 { margin-top:20px; }
.top25 { margin-top:25px !important;; }
.top30 { margin-top:30px !important;; }
.top35 { margin-top:35px !important;; }
.top40 { margin-top:40px !important; }
.top45 { margin-top:45px; }
.top50 { margin-top:50px; }
.top55 { margin-top:55px; }
.top60 { margin-top:60px; }
.top65 { margin-top:65px; }
.top70 { margin-top:70px; }
.top75 { margin-top:75px; }
.top80 { margin-top:80px; }
.top85 { margin-top:85px; }
.top90 { margin-top:90px; }
.top105 { margin-top:105px; }
.top195 { margin-top:195px; }


.bottom5 { margin-bottom:5px; }
.bottom10 { margin-bottom:10px; }
.bottom15 { margin-bottom:15px; }
.bottom20 { margin-bottom:20px; }
.bottom25 { margin-bottom:25px; }
.bottom30 { margin-bottom:30px; }
.bottom35 { margin-bottom:35px; }
.bottom40 { margin-bottom:40px; }
.bottom45 { margin-bottom:45px; }
.bottom50 { margin-bottom:50px; }
.bottom55 { margin-bottom:55px; }
.bottom60 { margin-bottom:60px; }
.bottom60 { margin-bottom:60px; }
.bottom65 { margin-bottom:65px; }
.bottom70 { margin-bottom:70px; }
.bottom75 { margin-bottom:75px; }
.bottom80 { margin-bottom:80px; }
.bottom100 { margin-bottom:100px; }
.bottom120 { margin-bottom:120px; }
.bottom135 { margin-bottom:135px; }


.left5 { margin-left:5px; }
.left10 { margin-left:10px; }
.left15 { margin-left:15px; }
.left20 { margin-left:20px; }
.left25 { margin-left:25px; }
.left30 { margin-left:30px; }
.left35 { margin-left:35px; }
.left40 { margin-left:40px; }
.left45 { margin-left:45px; }
.left50 { margin-left:50px; }
.left55 { margin-left:55px; }
.left60 { margin-left:60px; }
.left65 { margin-left:65px; }
.left70 { margin-left:70px; }
.left75 { margin-left:75px; }
.left80 { margin-left:80px; }
.left130 { margin-left:130px; }

.right5 { margin-right:5px; }
.right10 { margin-right:10px; }
.right15 { margin-right:15px; }
.right20 { margin-right:20px; }
.right25 { margin-right:25px; }
.right30 { margin-right:30px; }
.right35 { margin-right:35px; }
.right40 { margin-right:40px; }
.right45 { margin-right:45px; }
.right50 { margin-right:50px; }
.right55 { margin-right:55px; }
.right60 { margin-right:60px; }
.right65 { margin-right:65px; }
.right70 { margin-right:70px; }
.right75 { margin-right:75px; }
.right80 { margin-right:80px; }
.right130 { margin-right:130px; }


.pbottom20 { padding-bottom:20px; }
.pbottom40 { padding-bottom:40px; }
.pbottom60 { padding-bottom:60px; }
.pbottom80 { padding-bottom:80px; }
.pbottom100 { padding-bottom:100px; }



.container{
	max-width: 480px;
}


.input100{
	width: 100% !important;
}


body{
	background: #DAE1E9;
}


h1{
	font-family: 'Oswald', sans-serif;
	font-size: 21px;
	color: #203499;
}


p{
	font-family: 'PT Sans', sans-serif;
	text-align: justify;
	color: #494949;
	font-size: 15px;
	font-style: italic;
}

a:hover{
	text-decoration: none !important;
}


form span{
	font-family: 'PT Sans', sans-serif;
	color: #494949;
	font-size: 15px;
}



/**
============================================
					topo
============================================
*/
.topo{
	background: #2a3d7d url(../imgs/bg-topo.png) top center no-repeat;
	height: 109px;
}


.btn-vermelho{
	background: #ff020e;
	color: #fff;
	font-family: 'PT Sans', sans-serif;
	font-weight: 700;
	font-size: 17px;
}

.menu-home{
	padding-left: 77px;
    font-weight: 700;
    font-family: 'PT Sans', sans-serif;
    color: #1f3399;
    font-size: 17px;
    width: 188px;
    height: 35px;
    background: url(../imgs/barra-menu-topo.png) 0px 3px no-repeat;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}




/**
============================================
					topo
============================================
*/



/**
============================================
					rodape
============================================
*/

.bg-fundo-preto{
	background: #000;
}

.bg-fundo-preto h4{
	padding: 14px 0px;
	color: #fff;
	font-weight: 300;
	font-size: 20px;
}

.servicos-home h2{
	text-align: center;
	padding: 34px 0px 7px 0px;
	background: url(../imgs/barra-titulo-servicos.png) bottom center no-repeat;
	font-weight: 700;
	font-size: 25px;
	color: #fff;
}

/**
============================================
					rodape
============================================
*/


/**
============================================
					home
============================================
*/
.bg-home{
	height: 335px;
	background: url(../imgs/bg-home.jpg) top center no-repeat;
}

.caroucel-personalizado{
	height: 370px;
	background: url(../imgs/bg-slider-home.png) center no-repeat;
	margin-top: -33px;
}

.slider-index{
	margin-top: 40px;
}

.slider-index .carousel-indicators{
	top: -28px;
    margin-left: 14% !important;
    width: 36% !important;
}


.slider-index .carousel-caption{
	bottom: 0px;
	height: 60px;
	width: 100%;
	left: 0px;
	padding-top: 10px; 
	background: url(../imgs/bg-slider-titulo.png);
	text-align: left;
	padding-left: 20px;
}

.slider-index .carousel-caption h1{
	font-weight: 700;
    font-family: 'PT Sans', sans-serif;
    color: #fff;
    font-size: 19px;
}

.slider-index .carousel-caption a{
	font-weight: 400;
    font-family: 'PT Sans', sans-serif;
    color: #fff;
    font-size: 14px;
}


.slider-index .carousel-indicators li{
	width: 15px;
	height: 15px;
	background: #fff;
	border: none;
}

.slider-index .carousel-indicators .active{
	background: #8991c4;
	border: none;
}


/**
============================================
					home
============================================
*/
.empresa-index p{
    height: 151px;
    overflow: hidden;
}

.btn-grande{
	background: url(../imgs/btn-grande.png) no-repeat;
	width: 329px;	
	height: 36px;
	font-family: 'Oswald', sans-serif;
	font-size: 17px;
	color: #203499;
}


.btn-medio{
	background: url(../imgs/btn-medio.png) no-repeat;
	width: 213px;	
	height: 36px;
	font-family: 'Oswald', sans-serif;
	font-size: 17px;
	color: #203499;
	text-align: left;
}


.index-contato-dicas p{
    height: 108px;
    overflow: hidden;
}



.touchcarousel{
	left: -11px;
	height: 100px !important;
}

#carousel-gallery .touchcarousel-container li.touchcarousel-item {
	float:left;
	width: 130px;
	height: 91px;
	position: relative;
	margin: 0px 15px;
}


.touchcarousel .arrow-holder.left{
	right: 23px !important;
	background: url(../imgs/seta-esquerda.png) 25px 21px no-repeat;
	background-size: 20px;
}

.touchcarousel .arrow-icon.right {
	background: url(../imgs/seta-direita.png) 25px 21px no-repeat;
	background-size: 20px;
}

/**
============================================
					EMPRESA
============================================
*/

.bg-empresa{
	background: url(../imgs/empresa.jpg);
}

.bg-dicas{
	background: url(../imgs/DICAS.jpg);
}


.bg-portfolio{
	background: url(../imgs/portfolio.jpg);
}

.bg-produtos{
	background: url(../imgs/produtos.jpg);
}

.bg-fornecedores{
	background: url(../imgs/fornecedores.jpg);
}

.bg-parceiros{
	background: url(../imgs/parceiros.jpg);
}

.bg-contato{
	background: url(../imgs/contato.jpg);
}

.onde-vc-esta{
	height: 155px;
}


.onde-vc-esta .breadcrumb{
	margin-bottom: 0px;
	background: none;
    margin-top: 130px;
    margin-left: 30px;
    padding: 0px 15px;
}

.onde-vc-esta .breadcrumb li{
	font-family: 'PT Sans', sans-serif;
    color: #fff;
    font-size: 15px;
    font-style: italic;
}

.onde-vc-esta .breadcrumb li a{
	color: #fff;
}

.lista-portilio, .lista-produtos{
	margin-bottom: 20px;
}

.lista-portilio h1{
	margin-top: 8px;
	font-size: 15px;
    height: 33px;
    overflow: hidden;
}

.lista-portilio-img{
	height: 150px;
	overflow: hidden;

}

.lista-produto-img{
	height: 85px;
	overflow: hidden;
	border: 2px solid #7e94c5;
	border-radius: 8px;
}


.linha-azul{
	border: 2px solid #7e94c5;
	border-radius: 8px;
}

.lista-produtos p{
	margin-top: 8px;
	font-size: 15px;
    height: 67px;
    overflow: hidden;
}


.bg-slider-portfolio{
	background: url(../imgs/bg-slider-portfolio.jpg);
	height: 370px;
}


.slider-portfolio{
 margin-top: 10px;
}



.slider-portfolio .carousel-indicators{
	bottom: -35px;
    margin-left: 14% !important;
    width: 36% !important;
}

.slider-portfolio .carousel-indicators li{
	width: 15px;
	height: 15px;
	background: #fff;
	border: none;
}

.slider-portfolio .carousel-indicators .active{
	background: #8991c4;
	border: none;
}

.btn-azul{
	background: #1d2b57;
	color: #fff;
	font-family: 'Lato', sans-serif;
}




.btn-contato-ligar{
	background: #1d2b57;
	color: #fff;
	font-family: 'Lato', sans-serif;
	font-size: 15px;
    border-radius: 5px;
    padding: 0px 0px 0px 4px;
    margin-bottom: 10px;
}

.btn-contato-ligar span{
	color: #fff;
	font-family: 'Lato', sans-serif;
	font-size: 15px;
}







.input-busca-topo{
	background: #f0efef;
	font-family: 'PT Sans', sans-serif;
	font-style: italic;
	font-weight: 700;
	font-size: 15px;
}




.drop-telefones{
    width: 240px;
}



.dropdown-menu{
	background-color: #C7CBDE !important;
    padding: 5px 10px !important;
}

.corta-img-slider-prod{
	height: 	320px;
	overflow: 	hidden;	
}


.corta-img-slider-prod img{
	max-height: 320px;
	width: 415px;
}























