body{
	margin:0px;
	background:#FFFFFF url(../img/bg.jpg) top repeat-x;
	font-size:12px;
	font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
	text-align:left;

}
body a { 	
	color: #666666;	 
	text-decoration: none; 
}
body a:visited {	
	color: #666666;	 
	text-decoration: none; 
}
body a:hover { 	
	color: #FF9900;	 
	text-decoration: none; 
}

/*Divssss*/ 

#geral{
	width:1000px;
	margin:auto;
	overflow:hidden;
}
#topo{
	height:132px;
	background-image:url(../img/topo.png);
	background-position:left;
	background-repeat:no-repeat;
	margin:auto;
}
#conteudo{
	background:#333333;
	padding:25px;
	width:900px;
	margin:auto;
	float:none;
	clear:both;
	overflow:hidden;
}
#linhaMenu{
	height:45px;
	margin:auto;	
}
#cabecalho{
	margin-top:13px;
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#FFFFFF;
	font-size:18px;
	text-align:left;
	float:left;		
}
#sair{
	margin-top:8px;
	text-align:left;
	float:right;
}
#menu_left{
	float:left;
	width:200px;
	background:#FFFFFF;
	padding:20px 10px 20px 10px;
	margin:auto;	
}
#miolo{
	float:right;
	width:590px;
	background:#FFFFFF;
	padding:0px 20px 40px 20px;	
	overflow:hidden;	

}
#dentro_miolo{
	margin:0;
	width:auto;
	height:auto;
	overflow:hidden;	

}
.cabecalho_miolo{	
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#666666;
	font-size:18px;
	text-align:left;
	padding:10px 0 10px 0;
	border-bottom:#999999 dashed 1px;
	overflow:hidden;
	margin-bottom:10px;
}
input{
	border-top:1px solid #7c7c7c;
	border-left:1px solid #c3c3c3;
	border-right:1px solid #c3c3c3;
	border-bottom:1px solid #ddd;
	background:#fff url(../img/fieldbg.gif) repeat-x top;
	margin:0;
	padding:0;
	clear:both;
}
.select{
	border-top:1px solid #7c7c7c;
	border-left:1px solid #c3c3c3;
	border-right:1px solid #c3c3c3;
	border-bottom:1px solid #ddd;
	background:#fff url(../img/fieldbg.gif) repeat-x top;
}
form{
	margin:0;
	padding:0;
	overflow:hidden;
}
.nome_campos{
	font-weight:600;
}
.comentario_campos{
	font-size:9px;
}
.div_campos_left{
	float:left;
	width:250px;
	margin:10px 10px 10px 10px;
}
.div_campos_right{
	float:right;
	width:250px;
	margin:10px 10px 10px 10px;
}
.class_btn_submit{
	width:200px;
	height:50px;
	font-family:"Lucida Sans";
	color:#FFFFFF;
	background:url(../img/btn_bg.jpg);
	border-style:none;
}
#btn_submit{
	clear:both;
	text-align:center;
	padding-bottom:20px;
}
.cabecalho_menu_left{
	padding: 5px 5px 5px 15px;
	background-color:#EEEEEE;
	color:#333333;
	text-transform:uppercase;
	font-weight:600;

}
#quebra{
	clear:both;	
}
#menu_left_dentro{
	text-align:left;
	width:auto;
	margin:auto;
	padding: 0 0 0 0;
}
#menu_left_dentro ul{
	text-align:left;
	width:auto;
	margin:auto;
	padding: 0 0 0 0;
}
#menu_left_dentro li {	
	text-align:left;
	width:auto;
	margin:auto;	
	list-style:none;
	padding:5px 5px 5px 5px;
}
#menu_left_dentro li a { 	
	list-style:none;
	display:block;
	color: #666666;	 
	text-decoration: none; 
	padding:5px 5px 5px 5px;
	border-bottom:#999999 1px solid;
}
#menu_left_dentro li a:visited {	
	list-style:none;
	display:block;
	color: #666666;	 
	text-decoration: none; 
	padding:5px 5px 5px 5px;
	border-bottom:#999999 1px solid;
}
#menu_left_dentro li a:hover { 	
	list-style:none;
	display:block;
	color: #333333;	 
	text-decoration: none; 
	margin-bottom:2px;
	border-bottom:#999999 1px solid;
	color: #000; 	
	padding:5px 5px 5px 5px;	
	background-color:#EEEEEE;
} 
#navegacao{
	font-size:10px;
	color:#666666;
}
#navegacao a { 	
	font-size:10px;
	color:#666666;
}
#navegacao a:visited {	
	font-size:10px;
	color:#666666;
}
#navegacao a:hover { 	
	font-size:10px;
	color:#FF9900;
	text-decoration:underline;
} 
.linha{
	padding:5px 5px 5px 5px;
	background:#fafafa;
	border-bottom:dashed 1px #CCCCCC;
	overflow:auto;
	float:left;
	width:580px;
	clear:both;
}
.linhahover{ 	
	padding:5px 5px 5px 5px;
	background:#EEEEEE;
	border-bottom:dashed 1px #CCCCCC;
	overflow:auto;
	float:left;
	width:580px;
	clear:both;
} 
.edit{
	float:right;	
	padding:5px 5px 5px 5px;
}
.del{
	float:right;	
	padding:5px 5px 5px 5px;
}
.texto{
	float:left;
	padding:5px 5px 5px 5px;
	z-index:3;
	width:270px;
}
.msn{
	padding-top:30px;
	font-family:Georgia, "Times New Roman", Times, serif;
	text-align:center;
	font-size:20px;
	color:#FF6600;
}
#btn_voltar{
	text-align:left;
	padding:10px 0 10px 0;
	border-top:#999999 dashed 1px;
}
.div_imgs{
	padding:5px 5px 5px 5px;
	margin: 10px 17px 10px 17px;
	float:left;
	text-align:center;
	vertical-align:middle;
	width:150px;
	background-color:#FFFFFF;
	border:#CCCCCC 1px solid;
}
.div_imgs_geral{
	text-align:center;
	vertical-align:middle;
	background-color:#EAEAEA;
	clear:both;
	overflow:hidden;
}
.editar_oculto_imgs{
	display:none;
}
.editar_aberto_imgs{
	display:block;
}
.lista_carro{ list-style:none; margin:auto; padding:0px; overflow:hidden;}
.lista_carro li{ list-style:none; margin:5px; padding:0px; overflow:hidden; float:left; width:150px;}



.tabela{margin:20px 0px 0px 0px;}
	.tabela-label{margin:0px 0px 10px 0px; background:#009; color:#FFF; font-weight:bold;}
	.tabela tr td {border-bottom:#69F solid 1px; font: "Trebuchet MS", Arial, Helvetica, sans-serif; font-size:12px;}

.campo-categoria{width:230px;}